[submodule "lib/seamless-aave-v3-core"]
	path = lib/seamless-aave-v3-core
	url = https://github.com/seamless-protocol/aave-v3-core
[submodule "lib/seamless-aave-helpers"]
	path = lib/seamless-aave-helpers
	url = https://github.com/seamless-protocol/aave-helpers
[submodule "lib/seamless-aave-v3-periphery"]
	path = lib/seamless-aave-v3-periphery
	url = https://github.com/seamless-protocol/aave-v3-periphery
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
